html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 16px;
}

/* fluid text */
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* default mobile first */
body > * {
  margin-left: 5vw;
  margin-right: 5vw;
}

@media screen and (min-width: 1000px) {
  body > * {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

h1 {
  text-align: center;
}

fieldset {
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
}

.center {
  margin: 5px auto;
}

.descriptive {
  align-items: center;
}

.calculator {
  text-align: center;
  flex-basis: 100%;
}

.protein-data > * {
  margin: 0 auto;
}

.show-result {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 32px;
  color: #fa8072;
}

/* functionality */
.hidden,
.hidden-text {
  display: none;
}

.read-more {
  color: #00f;
  cursor: pointer;
}

.highlight td {
  border: 2px solid #777;
  background-color: #fafad2;
}
