html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

h1 {
  text-align: center;
}

fieldset {
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
}

.center {
  margin: 5px auto;
}

.descriptive {
  align-items: center;
}

.calculator {
  text-align: center;
  flex-basis: 100%;
}

.show-result {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 32px;
  color: salmon;
}

/* functionality */
.hidden,
.hidden-text {
  display: none;
}

.read-more {
  color: blue;
  cursor: pointer;
}
